 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/mainpage.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-1 .u-group-1 {
  width: 539px;
  min-height: 485px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 481px auto 0 31px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 500;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 17px 38px 18px 37px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 647px;
  height: 647px;
  margin: -923px 42px 276px auto;
}

.u-section-1 .u-image-1 {
  width: 647px;
  height: 647px;
  transform-origin: center center;
  background-image: url("images/IMG_20220913_115645.jpg");
  background-position: 50% 50%;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 520px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 483px;
    height: 483px;
    margin-top: -988px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 483px;
    height: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.8rem;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}