 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/mainpage.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 139px 384px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 456px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 30px auto 60px 0;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 184px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 256px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 126px;
    margin-right: 174px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 144px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1590px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Luckiest Guy";
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 1326px;
  --gap: 24px;
  grid-auto-columns: calc(33.3333% - 16px);
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-1 {
  object-position: 100% 50%;
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-2 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-3 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-4 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-4 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-5 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-5 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-6 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-6 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-7 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-7 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-8 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-8 {
  object-position: 50% 0%;
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-9 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 44px;
}

.u-section-2 .u-image-9 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-2 .u-text-10 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 66px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 1094px;
    grid-gap: 24px;
    grid-auto-columns: calc(33.333333333333336% - 16px);
  }

  .u-section-2 .u-list-item-1 {
    background-position: 100% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-8 {
    background-position: 50% 0%;
  }

  .u-section-2 .u-image-8 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    height: 229px;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 2095px;
    grid-auto-columns: calc(50% - 12px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-8 {
    height: 262px;
    inset: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-9 {
    height: 262px;
    inset: auto;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-image-1 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-8 {
    height: 393px;
    width: auto;
  }

  .u-section-2 .u-image-9 {
    height: 393px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-8 {
    height: 247px;
    width: auto;
  }

  .u-section-2 .u-image-9 {
    height: 247px;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Luckiest Guy";
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 66px;
  margin-bottom: 24px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 426px;
  --gap: 24px;
  grid-auto-columns: calc(33.3333% - 16px);
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 44px;
}

.u-section-3 .u-image-1 {
  object-position: 100% 50%;
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-3 .u-text-2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 44px;
}

.u-section-3 .u-image-2 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-3 .u-text-3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 44px;
}

.u-section-3 .u-image-3 {
  height: 278px;
  width: 364px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-3 .u-text-4 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 66px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    grid-gap: 24px;
    grid-auto-columns: calc(33.333333333333336% - 16px);
    min-height: 351px;
  }

  .u-section-3 .u-list-item-1 {
    background-position: 100% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 229px;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 229px;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 229px;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    grid-auto-columns: calc(50% - 12px);
    min-height: 807px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 267px;
    inset: auto;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    height: 267px;
    inset: auto;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    height: 267px;
    inset: auto;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    height: 400px;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 400px;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 400px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 252px;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 252px;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 252px;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 492px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 50px));
  min-height: 426px;
  --gap: 100px;
  grid-auto-columns: calc(50% - 50px);
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 44px;
}

.u-section-4 .u-image-1 {
  object-position: 100% 50%;
  height: 278px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-1 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 44px;
}

.u-section-4 .u-image-2 {
  height: 278px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    --gap: 24px;
    grid-auto-columns: calc(50% - 12px);
    min-height: 351px;
  }

  .u-section-4 .u-list-item-1 {
    background-position: 100% 50%;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    height: 229px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    inset: auto;
    height: 229px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-repeater-1 {
    grid-gap: 24px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 351px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-top: 192px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-image-1 {
    height: 527px;
  }

  .u-section-4 .u-image-2 {
    height: 527px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    margin-top: 167px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 332px;
  }

  .u-section-4 .u-image-2 {
    height: 332px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/mainpage.png');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 880px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/IMG_20240817_154809-copy1.JPG");
  background-position: 50% 50%;
  margin: 155px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 694px;
  min-height: 282px;
  height: auto;
  margin: -490px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 7px 0 6px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 6rem;
  font-family: "Luckiest Guy";
  font-weight: 400;
  margin: 70px 0 60px 446px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 470px;
    background-size: cover;
    margin-top: 499px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -390px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-2 {
    font-size: 5rem;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 45px;
    margin-bottom: -60px;
    margin-left: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 0 13px 26px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 756px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    font-size: 4rem;
    margin: 56px 0 -49px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-5 .u-image-1 {
    width: 270px;
    height: 270px;
    margin-top: 37px;
  }

  .u-section-5 .u-group-1 {
    min-height: 468px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 13px;
    margin-bottom: 37px;
  }
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 758px;
}

.u-section-6 .u-text-1 {
  font-family: "Luckiest Guy";
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-gallery-1 {
  width: 969px;
  height: 585px;
  grid-gap: 10px;
  margin: 10px auto 51px;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-6 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-6 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }
}